<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>To Do List</title>
  <link rel="stylesheet" href="/stylesheets/foundation.css" />
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper grid-container">
    <header class="">
      <h1>
        <a href="/">Do It Now</a>
      </h1>
      <nav class="menu-align-right">
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <button id="logout" class="btn-no-style">Logout</button>
        {{else}}
        <a href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Created by Ben, David, Jerilyn, and Hogan
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>