  <head>
 <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/app.css">
  </head>
<body>
  <!--start the container-->
<div class="main" style="padding-top: 50px;">    
  <div class="grid-container">
      <!--header element-->
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h1>Welcome to Git IT DONE!</h1>
        </div>
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell">
          <h2>Here you can sign up or login</h2>
        </div>
      </div>
<!--log in part-->
          <form>
            <div class="grid-x grid-padding-x">
              <div class="large-9 cell">
                <label>USER ID</label>
                <input type="text" placeholder="Enter Your ID" />
              </div>
              <div class="large-9 cell">
                <label>PASSWORD</label>
                <input type="password" placeholder="Enter Your Password" />
              </div>
<!--button-->             
        <div class="large-4 medium-4 cell">
          <h3>Choose An Option Below:</h3>
          <p><a href="#" class="button">Sign Up</a><br/>
            <a href="#" class="success button">Log In</a><br/>
        </div>
      </div>
    </div>
</div>

    <script src="javascript/vendor/jquery.js"></script>
    <script src="javascript/vendor/what-input.js"></script>
    <script src="javascript/vendor/foundation.js"></script>
    <script src="javascript/app.js"></script>
  </body>